HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Не нужная статика ###
/system/src/main/resources/static/metadata/
/system/src/main/resources/static/less/
/system/src/main/resources/static/scss/
/system/src/main/resources/static/sprites/
/system/src/main/resources/static/svgs/
/system/src/main/resources/static/webfonts/
!/system/src/main/resources/static/webfonts/.gitkeep
/system/src/main/resources/static/js/
!/system/src/main/resources/static/js/**/.gitkeep
/system/src/main/resources/static/css/
!/system/src/main/resources/static/css/**/.gitkeep