#* @vtlvariable name="sourceType" type="java.util.Optional<ru.lanolin.quote.domain.sourcetype.entity.SourceType>" *#
#parse("/templates/layout/layout.vm")

#parse("/templates/components/source-type/view.vm")

#@defaultLayout()
<h1>Source Type</h1>

<div class="container">
    <div class="row row-cols-1">
        #if($sourceType.present)
            <div class="col">
                #viewST($sourceType.get())
            </div>
        #else
            <div class="col">
                <p>NOT FOUND</p>
            </div>
        #end
    </div>
</div>
#end

