#* @vtlvariable name="sourceType" type="org.springframework.data.domain.Page<ru.lanolin.quote.domain.sourcetype.entity.SourceType>" *#
#parse("/templates/layout/layout.vm")

#parse("/templates/components/source-type/save.vm")

#@defaultLayout()
    <div class="container">
        <p>Action messages</p>
    </div>
    <div class="container">
        #saveST($sourceType)
    </div>

#end