<div class="container source-card-edit custom-card">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Create/Edit Source</h5>
        </div>
        <div class="card-body">
            <form id="save-source" method="post" href="#">
                <div class="container">
                    <div class="row input-group">
                        <div class="col-3">
                            <label for="source-name-field" class="col-form-label">Name</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="source-name-field"
                                   class="form-control"
                                   aria-describedby="source-name-field-help"
                                   value="$source.name"
                            >
                        </div>
                        <div class="col-auto">
                                <span id="source-name-field-help" class="form-text">
                                  Must be 8-20 characters long.
                                </span>
                        </div>
                    </div>
                    <div class="row input-group">
                        <div class="col-3">
                            <label for="source-type-field" class="col-form-label">Source type</label>
                        </div>
                        <div class="col-6">
                            <select id="source-type-field" class="form-select" aria-label="Default select example"
                                    aria-describedby="source-type-field-help">
                                <option value="1">$source.sourceType One</option>
                                <option value="2">$source.sourceType Two</option>
                                <option value="3">$source.sourceType Three</option>
                            </select>

                        </div>
                        <div class="col-auto">
                                <span id="source-type-field-help" class="form-text">
                                  Must be 8-20 characters long.
                                </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" form="save-source">
                Submit
            </button>
        </div>
    </div>
</div>