<div class="container source-card-view custom-card">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Source</h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        Name
                    </div>
                    <div class="col-6">
                        $source.name
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Source type
                    </div>
                    <div class="col-6">
                        $source.sourceType
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Count of quotes
                    </div>
                    <div class="col-6">
                        $source.quote.count()
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Creator
                    </div>
                    <div class="col-6">
                        $source.creator
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
</div>