<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>${global.title}</title>
    <!--    JQuery    -->
    <script src="$contextPath/js/jquery/jquery-3.7.1.js"></script>
    <!--    Fontawesome    -->
    <link href="$contextPath/css/fontawesome/fontawesome.css" rel="stylesheet"/>
    <link href="$contextPath/css/fontawesome/brands.css" rel="stylesheet"/>
    <link href="$contextPath/css/fontawesome/solid.css" rel="stylesheet"/>
    <script src="$contextPath/js/fontawesome/fontawesome.js"></script>
    <script src="$contextPath/js/fontawesome/brands.js"></script>
    <script src="$contextPath/js/fontawesome/solid.js"></script>
    <!--    Bootstrap 5    -->
    <link href="$contextPath/css/bootstrap-5/bootstrap.css" rel="stylesheet">
    <script src="$contextPath/js/bootstrap-5/bootstrap.bundle.js"></script>

    <style>
        .custom-card {
            padding-top: 1%;
            padding-bottom: 1%;
        }
    </style>
</head>