#* @vtlvariable name="pagg" type="org.springframework.data.domain.Page<java.lang.Object>" *#

#macro(pagginationNav $pagg $areaLabel)

<nav aria-label="$areaLabel">
    #set($pageSize = $pagg.pageable.pageSize)
    <ul class="pagination justify-content-center row-cols-auto">

        <li class="page-item #if($pagg.first)disabled#end">
            #set($prevPage = $pagg.number - 1)
            <a class="page-link" href="${req.servletPath}?page=${prevPage}&size=${pageSize}"
               #if($pagg.first)aria-disabled="true"#end>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        #foreach($index in [ 1 .. $pagg.totalPages ])
            #set($currPage = $index - 1)
            <li class="page-item #if($currPage == $pagg.number)active#end">
                <a class="page-link "
                   href="${req.servletPath}?page=${currPage}&size=${pageSize}">
                    $index
                </a>
            </li>
        #end

        <li class="page-item #if($pagg.last)disabled#end">
            #set($nextPage = $pagg.number + 1)
            <a class="page-link" #if($pagg.first)aria-disabled="true"#end
               href="${req.servletPath}?page=${nextPage}&size=${pageSize}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        <li class="ps-1">
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownSelectSize"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Size: ${pagg.pageable.pageSize}
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownSelectSize" style="">
                    #foreach($size in [5,10,15])
                        <li>
                            <a class="dropdown-item #if($pageSize == $size)active#end"
                               href="${req.servletPath}?page=0&size=${size}">
                                $size
                            </a>
                        </li>
                    #end
                </ul>
            </div>
        </li>
    </ul>
</nav>
#end