#* @vtlvariable name="entity" type="ru.lanolin.quote.domain.sourcetype.entity.SourceType" *#

#macro(viewST $entity)
<div class="container source-type-card-view custom-card">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Source Type</h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Name
                    </div>
                    <div class="col">
                        $entity.sourceType
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Count of sources
                    </div>
                    <div class="col">
                        $entity.sources.size()
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Creator
                    </div>
                    <div class="col">
                        INPROGRESS
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="${req.servletPath}/${entity.id}" class="card-link">Link</a>
            <a href="${req.servletPath}/save/${entity.id}" class="card-link">Edit</a>
        </div>
    </div>
</div>
#end